.container {
  background-color: #121214;
  min-width: 100vw;
  min-height:100vh;
  
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 72px;
  padding: 0rem 1rem;
  background-color: #2a2a30bb;
  z-index: 5;
}

.header>nav {
  display: flex;
  align-items: flex-end;
}

.header button{
  border:0;
  outline:0;
  cursor:pointer;
}
.header a, .header button {

  padding: 0rem 0.8em;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: transparent;
  letter-spacing: 0.1rem;
}


.header a.home {

  font-family: 'Aclonica', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.header button.icons {
  display:flex;
  font-size: 1.6rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.userDropdown{
  position:absolute;
  top:calc(100% + 1rem);
  right:1rem;

  display:flex;
  flex-direction: column;
  align-items: flex-end;
  padding:1rem;
  color:#fff;

  background-color: #212121dd;
  border:solid 1px rgba(99, 99, 99, 0.5);
  border-right:solid 1px rgba(99, 99, 99, 0.2);
  border-bottom:solid 1px rgba(99, 99, 99, 0.2);
  border-radius: 1rem;

  opacity:0;
  transform:translateY(-50%);
}
.userDropdown a{
  margin:0.3rem 0rem;
}
